#tt {position:absolute; display:block; font-size:xx-small;}
#ttcont {display:block; color: #000; padding:2px 12px 3px 7px; margin-left:5px; border:1px solid #89361b; border-radius: 4px;background: rgba(220, 220, 220, 0.9); line-height:1.1em;}

#footer { margin: 2em 0 1em; text-align:center; font-size: xx-small; font-family: Tahoma; }
#footer img { margin:1em auto 0;}

body { background: #edcf55;} 
object { display:block; }

#head { text-align:center; }
#content { margin: 0 auto; width: 930px; }
#layout {  background: #f4f7b4; margin: 0 auto; width: 950px; padding:10px 0; border: 4px solid #89361a; border-radius: 24px;;  }

#posts, #forum-list { margin:0 auto;width:930px; border: 1px solid #761401; border-bottom:2px solid #761401; border-right:2px solid #761401; border-spacing: 0;}
#posts td, #forum-list td { margin:0; padding:0; border: 1px solid #761401; border-right:none; border-bottom:none;}
#posts td.post-info, #forum-list td.theme-title { border-right: none;}
#posts img { max-width: 740px; }

#forum-list { font-size:small; margin: 0 auto; width:930px;}
#forum-list .theme_author, #forum-list .theme_title { padding: 0.3em; }
.row-first { font-family: Tahoma; }
.row-first th { padding:0.2em 0.5em; }
.theme_answers, .theme_count, .theme_author { text-align:center; }
.theme_title a { color:#5a320c;  text-decoration: none;line-height: 1.2em; margin: 0 1em; } 
.theme_timestamp { display:block; font-size:xx-small; }
.row-first th { background:#89361b; color: #ffa450; margin: 0.1em 0.5em; }
.row-even { background:#f8e5ab; }
.row-odd { background:#fdd795; }
blockquote { border: 1px dashed #761401; margin: 0.5em 0 0.5em 4em; padding: 0 0.5em; text-indent: 20px; background: rgba(118, 20, 1, 0.1);  }
blockquote p { margin-top:0.3em;  }
blockquote blockquote { background: rgba(118, 20, 1, 0.1); }
.table-header { font-variant: small-caps;text-align:center; color: #89361a;font-size:large; font-family: Verdana; padding: 1em; margin:1em;  }


.post-info { font-size: x-small; vertical-align: top; font-family:Tahoma;}
.post-info span { display:block; }
.post-infoblock { padding: 0.7em 0.7em; }
.post-author {  padding: 0.2em 0.7em; font-weight: bold; font-size:small; font-family:Verdana; background: rgba(6, 4, 2, 0.2); }
.post-zvanie { margin: 0.5em 0; }
.post-head  { font-size: small; font-family: Verdana; background: rgba(6, 4, 2, 0.2); padding: 0.2em 0.7em;}
.post-body { vertical-align: top; }
.post-thanks { padding: 0.1em 1em; float:right; text-align:right; color: #5a320c; font-size:xx-small;}
.post-sign { text-align:right; padding: 0.2em 1em 0; margin: 0.5em; font-size:x-small; border-top: 1px dashed #5a320c;}

.post-text { font-size:small; text-align: justify; margin: 0.7em 0.5em; }
.post-text p { text-indent: 20px; }
.offtopic { color: #821903; font-variant: italic;}
.indent { margin-left: 20px; }
.more-block { display: block; }
.more-text {display:none; border: 1px dashed #5a320c; padding: 0.5em;}

#nav-index h1 { font-size: x-large; margin: 2em auto; text-align:center; font-family: Verdana; font-variant: small-caps; color: #89361a; }
#nav { font-size: small; margin: 1em 0;  padding: 0.5em 2em; border-radius:8px; background: #751401; font-family: Verdana; font-variant: small-caps; color: #f8e5ab; }
#nav p { margin: 0.2em 0;}
#nav a { font-weight:bold; color: #8dcb2a; text-decoration:none; border-bottom: }
#nav a:hover, #nav .block-title, #nav .theme-title { color: #f4d10f; }

